{% load static %}
{% include 'Inc/header.html' %}
<div class="container">
<h1>Formulario Actualizar Proveedores</h1>
<div class="container text-center">
<form action="" method="post">
{% csrf_token %}
<div class="row align-items-center">
<div class="col-6">
<div class="form-floating mb-3">
<input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nombre"
value="{{ prover.1 }}" required>
<label for="floatingInput">Nombre:</label>
</div>
<div class="form-floating">
<input type="text" class="form-control" id="floatingPassword" placeholder="Dirección" name="direccion"
value="{{prover.2}}" required>
<label for="floatingPassword">Dirección:</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
<input type="text" class="form-control" id="floatingInput" placeholder="Nit" name="nit"
value="{{prover.3}}">
<label for="floatingInput">Nit:</label>
</div>
<div class="form-floating">
<input type="Email" class="form-control" id="floatingPassword" placeholder="name@example.com" name="email"
value="{{prover.4}}">
<label for="floatingPassword">Email:</label>
</div>
</div>
</div>
<br>
<div class="col-12">
<div class="form-floating">
<input type="text" class="form-control" id="floatingInput" placeholder="Nit" name="observaciones"
value="{{prover.5}}">
<label for="floatingInput">Observaciones:</label>
</div>
</div>
<br>
<div class="col-12">
<div class="form-floating mb-3 ">
<button type="submit" class="btn btn-primary">Actualizar</button>
</div>
</div>
</div>
</form>
</div>
</div>
{% include 'Inc/footer.html' %}
